@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
}
:root{
    --bg-color: #191f36;
    --snd-bf-color: #262b40;
    --text-colo: #fff;
    --main-colo: #59b2f4;

}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
}
body{
    background: var(--bg-color);
    color: var(--text-colo);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
#habilidades{
    min-height: 60vh;
    padding: 10rem 9% 2rem;
}

.encabezado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-colo);
    font-weight: 700;
    cursor: default;
}
.navbar a{
 font-size: 1.5rem;
 color: var(--text-colo);
 margin-left: 4rem;
 font-weight: 700;
}
.navbar a:hover,
.navbar a.active{
    color: var(--text-colo);
}
.rectangle-3 {
    text-align: center;
    margin-left: 15px;
    color: white;
    background: var(--bg-color);
    border-radius: 5px 0 0 5px;
    font-size: 1.5rem;
    font-weight: 700;
}
#menu-icon{
 font-size: 3.6rem;
 color: var(--text-colo);
 display: none;
}
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-contenido h3{
    font-size: 3.2rem;
    font-weight: 700;

}
.inicio-contenido h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-colo);

}
.inicio-contenido h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.inicio-img img{
    width: 25vw;
    border-radius: 20%;
    animation: floatImage 4s ease-in-out infinite;
}

.inicio-contenido p{
    font-size: 1.6rem;
}
.medio-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-colo);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-colo);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5rem ease;
}
.medio-social a:hover{
    background: var(--main-colo);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-colo);
}
/* General container styling */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown menu styling */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show dropdown menu when active */
.dropdown-content.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-content a {
    background: var(--main-colo);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-colo);
    padding: 1rem 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-size: 1.7rem;
}
.dropdown-content a:hover{
    box-shadow: none;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-colo);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-colo);
    font-size: 2.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-size: 600;
    transition: .5rem ease;
    cursor: pointer;
}
.btn-caja{
    display: inline-block;
    padding: 0.1rem 1.0rem ;
    background: var(--main-colo);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-colo);
    font-size: 2.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-size: 600;
    transition: .5rem ease;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.btn:hover{
    box-shadow: none;
}
.btnmodal{
    display: inline-block;
    padding: 1rem 2.0rem;
    background: var(--main-colo);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-colo);
    font-size: 2.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-size: 600;
    transition: .5rem ease;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.btnmodal:hover{
    box-shadow: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    margin: 7% auto;
    padding: 290px;
    border: 1px solid #888;
    width: 100%;
    max-width: 800px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-content iframe {
    width: 710px; 
    height: 810px; 
    margin-top: -280px; 
    margin-left: -250px;
}

/* Botón para cerrar la modal */
.close-modal-btn {
    color: var(--main-color);
    position: absolute; /* Posicionamiento absoluto dentro del div principal */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la parte derecha */
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el span */
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/*Estilos de la sesion de sobre mi*/
.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color)
}
.sobremi-img img{
    width: 25vw;
    border-radius: 30px;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.sobremi-contenido h2{
 text-align: left;
 line-height: 1.2;
}

.sobremi-contenido p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/*Estilos de la sesion de habilidades*/
.habilidades h2{
    margin-bottom: 5rem;
}
.habilidades-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.habilidades-container .habilidades-box{
    flex: 1 1 30rem;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem var(--bg-color);

}
.habilidades-box i{
    font-size: 7rem;
    color: var(--main-colo);
}
.habilidades-box h3{
    font-size: 2.6rem;
}
.habilidades-box p{
    font-size: 1.6rem;
}

/*ESTILOS DE LA SESION DE SERVICIOS*/
.servicios h2{
  margin-bottom: 5rem;
}
.servicios-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.servicios-contenido .servicios-caja img{
    width: 20rem;
    border-radius: 15px;
}
.servicios-contenido .servicios-caja{
    flex: 1 1 30rem;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}
.servicios-caja h3{
    font-size: 2.6rem;
}
.servicios-caja p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
/*ESTILOS DEL PORTAFOLIO*/
.portafolio{
    background: var(--snd-bf-color);
}
.portafolio h2{
    margin-bottom: 4rem;
}
.porta-contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.porta-contenido .porta-caja{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    
}
.porta-caja iframe{
    width: 700px;
    height: 700px;
}

/*ESTILOS DEL FORMULARIO DE CONTACTO*/
.contacto h2{
    margin-bottom: 3rem;
}
.contacto form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contacto form .input-caja{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacto form .input-caja input,
.contacto form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-colo);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contacto form .input-caja input {
    width: 49%;
}
.contacto form textarea{
    resize: none;
}
.contacto form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
/*ESTILO DEL PIE DEPAGINA*/
.pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bf-color);
}
.pie-text{
    font-size: 1.6rem;
}
.pie-icono{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-colo);
    border-radius: .8rem;
    transition: .5s ease;
}
.pie-icono a:hover{
    box-shadow: 0 0 1rem var(--main-colo);
}
.pie-icono a i {
    font-size: 2.4rem;
    color: var(--snd-bf-color);
}


/***************ESTILO RESPONSIVO*********/
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
    .porta-caja iframe{
        width: 700px;
        height: 600px;
    }
}
@media (max-width: 991px){
    .encabezado{
        padding: 2rem 3%;
    }
    section{
      padding: 10rem 3%;
    }
    .modal-content {
        margin-top: 60px;
        max-width: 700px;
        
    }
    .close-modal-btn {
        margin-right: -10px;
        
    }
    .modal-content iframe {
        width: 600px;
    }
    .servicios{
        padding: 7rem;
    }
   .portafolio{
     padding-bottom: 7rem;
   }
   .contacto{
     min-width: auto;
    }
    .pie{
        padding: 2rem 3%;
    }
}
@media (max-width: 880px){
    .porta-caja iframe{
        width: 700px;
        height: 500px;
    }
}
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .rectangle-3{
        font-size: 2rem;
        margin: 0;
    }
    .inicio{
        flex-direction: column;
    }
    .inicio-contenido h3{
      font-size: 2.6rem;
    }
    .inicio-contenido h1{
        font-size: 5rem;
    }
    .inicio-contenido{
        order: 2;
    }
    .inicio-img img{
      width: 70vw;
      margin-top: 4rem;

    }
    .medio-social{
        display: flex;
        justify-content: center;
    }
    .dropdown {
        display: flex;
        justify-content: center;
    }
    .sobremi{
        flex-direction: column; 
    }
    .sobremi-img img{
        width: 90vw;
        margin-top: 4rem;
    }
    .sobremi-contenido{
        display: contents;
    }
    .servicios h2{
      margin-bottom: 3rem;
    }
    .portafolio h2{
        margin-bottom: 3rem;

    }
    .porta-contenido{
        grid-template-columns: repeat(2, 1fr);
    }
    .porta-caja iframe{
        width: 700px;
        height: 450px;
    }
}
@media (max-width: 695px){
    .modal{
        width: 700px;
    }
    .modal-content {
        width: 600px;
        
    }
    .close-modal-btn {
     margin-right: 92%;
        
    }
    
    .modal-content iframe {
        align-items: center;
        width: 550px;
    }
}
@media (max-width: 665px){
    .porta-caja iframe{
        width: 600px;
        height: 350px;
    }
    .servicios-contenido{

        flex-wrap: wrap;
        gap: 2rem;
    }
    .servicios-contenido .servicios-caja{
        flex: 1 1 10rem;
    }
    .modal{
        width: 650px;
    }
    .modal-content {
        width: 500px;
        
    }
    .close-modal-btn {
     margin-right: -9px;
        
    }
    
    .modal-content iframe {
        align-items: center;
        width: 500px;
    }
}
@media (max-width: 630px){
    .modal{
        width: 630px;
    }
    .modal-content {
        width: 500px;
        
    }
    .close-modal-btn {
     margin-right: -7px;
        
    }
    
    .modal-content iframe {
        align-items: center;
        width: 500px;
    }
}

@media (max-width: 617px){
 .porta-contenido{
    grid-template-columns: 1fr;
 }
 .inicio-contenido img{
    width: 80vw;
    margin-top: 8rem;
 }
 .sobremi-img img{
    width: 100vw;
    margin-top: 4rem;
 }
 .porta-caja iframe{
    width: 600px;
    height: 650px;
  }
    .modal{
        width: 530px;
    }
    .modal-content {
        width: 500px;
        
    }
    .close-modal-btn {
    margin-right: -8px;
        
    }

    .modal-content iframe {
        align-items: center;
        width: 500px;
    }
}

@media (max-width: 600px){
    .modal{
        width: 330px;
    }
    .modal-content {
        width: 300px;
        
    }
    .close-modal-btn {
      margin-right: 80px;
    
    }

    .modal-content iframe {
        align-items: center;
        width: 400px;
    }
}
@media (max-width: 510px){
    .modal{
        width: 330px;
    }
    .modal-content {
        width: 300px;
        
    }
    .close-modal-btn {
      margin-right: 180px;
    
    }

    .modal-content iframe {
        align-items: center;
        width: 300px;
        height: 600px;
    }
}

@media (max-width: 482px){
   .dropdown{
     display: grid;
    }
    .dropdown .botonsito{
        margin-top: 20px;
    }
    .porta-caja iframe{
        width: 500px;
        height: 560px;
    }

}
@media (max-width: 450px){
  html{
    font-size: 50%;
  }
  .contacto form .input-caja input{
    width: 100%;
  }
}

/* Estilos para el estado de carga */
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

